$dark_black: #181818;
$lighter_black: #202020;
$white: #f8f8f8;
$grey: #aaaaaa;
$cborange: #e84d0e;

// $sans_font_stack: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; 
$sans_font_stack: 16px/1.5 system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}
article {
    @include headings {
        color: $grey;
    }
}

html, body {
    background: $dark_black;
    color: $white;
    font: $sans_font_stack;
}

a, a:visited {
    color: $cborange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

// the main content
main {
    margin: auto;
    max-width: 40rem;
    padding: 0.8rem;
}

// settings for the code syntax highlighting
pre {
    background: white;
    overflow: scroll;
    padding: 1rem;
}

td {
    border: 1px solid #2d2d2d;
    padding: 10px;
}

img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homepage-list {
    list-style: none;
    padding: 1rem 0;
}

// the list of the blog pog entries
.homepage-list li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media (max-width: 40rem) {
    homepage-list li a {
        width: 100%;
    }
}
